* {
    margin: 0px;
    padding: 0px;
}

.nav {
    /* border: 2px solid rgb(0, 0, 0); */
    /* background-color: #5b5a5a; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 0px;
    /* height: 100px;
    width: 100%; */
}

/* drop-down-button */
.DROP-DOWN {
    display: block;
}

/* Button styles */
.dropdown-btn {
    background-color: #04b12d;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Dropdown container (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown items on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when the button is clicked */
.show {
    display: block;
}

/* drop-down-button */
.nav::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.nav img {
    height: 50px;
    width: 100px;
    margin: 25px 0px 10px 30px;
}

.nav ul {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
    margin: 40px;
    padding: 3px;
    color: white;
    list-style: none;
    font-size: 1rem;
}

.nav li a:hover {
    border-radius: 5px;
    color: black;
    background-color: #fff;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.home {
    height: 629px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
}

.home::before {
    content: "";
    background: url("/image/laptop\ wallpaper.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.home h1 {
    color: #fff;
    text-align: center;
}

.home p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.button:hover {
    cursor: pointer;
}

.services {
    margin: 30px;
    display: flex;
}

.box {
    text-align: center;
    padding: 6px;
    margin: 3px 6px;
    border-radius: 5px;
    background-color: #f0dfdf;
    border: 2px solid red;
}

.services .box img {
    height: 200px;
    display: block;
    margin: auto;
}

.services .box p {
    font-family: "Bree Serif", serif;
    font-size: 1.5rem;
}

.clients-section {
    position: relative;
    height: 100%;
}

.clients-section::before {
    content: "";
    position: absolute;
    background: url("/image/MEDIBOOST/aaron-burden-Qy-CBKUg_X8-unsplash.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 34px;
}

/* CONTACT SECTION */
.contact {
    position: relative;
    height: 500px;
}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url("/image/MEDIBOOST/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg") no-repeat center center/cover;
}

.contact-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 34px;
    flex-direction: column;
}

.contact-box label {
    font-size: 1.3rem;
}

.contact-box form {
    width: 40%;
}

.contact-box textarea,
.contact-box input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-box input {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

/* UTILIty class */
.h-primary {
    font-size: 2rem;
    padding: 12px;
}

.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 1.8rem;
    padding: 12px;
}

.button {
    padding: 6px 20px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
    margin: 15px;
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.img {
    border-radius: 30px;
    height: 100px;
}

@media screen and (max-width:1270px) {
    body{
        background-color: rgb(240, 239, 239);
    }
    .nav{
        flex-direction:column;
    }
    .nav ul li a{
        font-size: 1rem;
        padding: 0px 10px;
    }
    .nav ul li{
        margin: 10px 10px;
    }
    .home{
        height:389px;
        padding: 3px 70px;
    }
    .home::before{
        height: 628px;
    }
    .home p{
        font-size:1rem;
    }
    .clients{
        flex-wrap: wrap;
    }
    .clients .img{
        width: 100px;
        height: auto;
        padding: 10px;
    }
    .services{
        flex-direction: column;
    }
    .services .box img{
        height: 100px;
    }
    .h-primary{
        font-size: 2rem;
    }
    .button{
        padding: 4px 8px;
        font-size: 13px;
    }
}
@media screen and (max-width:415px){
    .home{
        height: 480px;
        padding: 14px 8px;
    }
    
}

